* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    color: #3f3e3e;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h3 {
    margin: 30px 0;
    color: #1bac80;
}

.panel {
    margin: 20px;
}

.panel-left {
    position: absolute;
    top: 70vh;
    left: 10vw;
}

.panel-right {
    position: absolute;
    top: 70vh;
    left: 80vw;
}

.panel-left p {
    font-size: 20px;
}

.panel h3 {
    text-align: center;
}

h1,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
}

.select {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.select img {
    width: 200px;
    margin: 20px;
    display: inline-block;

}

button {
    display: block;
    padding: 5px 20px;
    border: 2px solid #1bac80;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
    margin: 10px auto;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #1bac80;
    color: white;
}

span {
    font-weight: bold;
}